.tjänster {
  padding: 1rem;
}

.tjänster-flex {
  display: flex;
  flex-direction: column; // Mobil: staplat
  gap: 1rem;
  background-color: $secondaryColor;
  padding: 1rem;
  align-items: center;

  @include desktop {
    flex-direction: row; // Desktop: rader
    justify-content: center;
    gap: 2rem;
  }
}

.tjänster-box {
  width: 100%; // Mobilvänlig
  max-width: 500px;
  background-color: $thirdColor;
  padding: 1rem;

  img {
    width: 100%;
    height: auto;
  }
  .prisexempel {
    color: #333;
    background-color: $fourthColor;
    text-decoration: none;
  }
}

// Bokning (mobil först)
.Bokning-del {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  text-align: start;
  overflow: hidden;

  @include desktop {
    align-items: flex-start;
    padding: 2rem;
    text-align: left;
    display: flex;
    justify-content: flex-start;
  }
}

.bokning-text {
  color: #333;
  font-size: 1rem;

  @include desktop {
    font-size: 1.2rem;
    color: #333;
  }
}
.fix-button {
  margin-top: 1rem;
  font-size: 1rem;

  @include desktop {
    font-size: 1.5rem;
    align-self: flex-start;
  }

  a {
    background-color: $thirdColor;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    color: $fourthColor;
    text-decoration: none;
    display: inline-block;

    &:hover,
    &:focus {
      background-color: $secondaryColor;
      color: $textColor;
    }
  }
}
