.startBild {
    &.omOss {
        background-image: url("interior2.jpg");
        height: 40vh;
    }
}
.history {
    h3 {
        font-size: 20px;
    }
    p {
        font-size: 16px;
    }
}
.employees {
display:flex;
flex-wrap: wrap;
justify-content: center;
align-items: flex-start;
gap:20px;
    .employee {
        min-width: 100px;  
        max-width: 300px;
        min-height: 600px;
        background-color: $textColor;
        border:2px solid $thirdColor;
        &:hover {
            background-color: darken($textColor, 10%);
            border-radius: 10px;
        }
    
        img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        }
        .employeeInfo {
            color:white;
            padding:5px;
            .name {
                font-weight: bold;
                text-align: center;
            }
            .role {
                font-weight: bold;
                text-align: center;
            }
            .mail {
                display:block;
                text-decoration: none;
                color:$thirdColor;
                text-align: center;
            }
        }

    }
}
