.menuDiv {
display: flex;
font-family: sans-serif;
font-size: 10px;

    .sidebar {
        background-color:$textColor;
        width: 20vw;
        min-width:10vw;
        max-width: 20vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        height: 100vh;
        top:0px;
        left:0px;
    }
    .menuList {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    }
    .logga {
        max-width:100px;
        max-height:100px;
        padding:20px 5px;
    }
    .menuList {
    list-style: none;
    margin: 0;
    padding: 0; 
    }
    .menuOption {
        padding:0;
        color:white;
        &:hover{
            background-color: #202427;
            border-right: 5px solid $logoColor;
        }
        &.here
        {
            border-right:5px solid $logoColor;
        }
        a {
            display:block;
            padding:20px 5px;
            text-decoration: none;
            color: inherit;   
        }
    }

@include tablet {
.menuDiv {
    font-size: 15px;
}
}

@include desktop {
.menuDiv {
min-height: 10vh;
min-width: 100vw;
font-size: 20px;

    .sidebar {
        position:fixed;
        top:0;
        min-width:100%;
        height:15vh;
        max-height:100px;
        flex-direction: row;
        justify-content: center;
    }
    .logga {
        max-width:100px;
        max-height:100px;
        position:fixed;
        top:-10px;
        left:10px;
    }
    .menuList {
        flex-direction: row;
        justify-content: center;
    }
    .menuOption {
        a {
        padding:20px 50px;
        }
        &:hover {
            border-right:none;
            border-bottom:5px solid $logoColor;
        }
        &.here
        {
            border-right:none;
            border-bottom:5px solid $logoColor;
        }
    }
}

}