$primaryColor: #7D5A50;
$secondaryColor: #DAC0A3;
$thirdColor: #B85C38;
$fourthColor: #EED6C4;
$textColor: #333;
$logoColor:#996c55;
$logoColor2: #525d64;
<<<<<<< HEAD

=======
>>>>>>> 60861eb905583061554e53d62687ef6947e61e21


$medium: 768px;
$large: 1024px;

