@charset "UTF-8";
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body main {
  margin-left: 20vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
body main .startBild {
  background-image: url("interior.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.5vh solid #B85C38;
  gap: 3vh;
}
body main .startBild .background {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 1vh 1vw;
  border-radius: 10px;
  max-width: 80%;
}
body main .startBild .h1Start {
  font-size: 6vw;
  color: #B85C38;
  margin: 0;
}
body main .startBild h2 {
  font-size: 4vw;
  color: white;
  font-style: italic;
  margin: 0;
}
body main .startBild.tjänster {
  background-image: url("interior2.jpg");
}
body main .startBild.omOss {
  background-image: url("interior2.jpg");
}
body main .startBild.tjänster {
  background-image: url("interior2.jpg");
}
body main .startBild.tjänster {
  background-image: url("interior2.jpg");
}
body main .cta {
  margin: 2vh;
  background-color: #B85C38;
  color: #333;
  text-decoration: none;
  height: 16vh;
  border: 0.5vh solid #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 5vw;
}
body main .cta:hover {
  background-color: #202427;
  border: 0.5vh solid #B85C38;
}
body main .cta:hover h3 {
  color: white;
}

.menuDiv {
  display: flex;
  font-family: sans-serif;
  font-size: 10px;
}
.menuDiv .sidebar {
  background-color: #333;
  width: 20vw;
  min-width: 10vw;
  max-width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  height: 100vh;
  top: 0px;
  left: 0px;
}
.menuDiv .menuList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.logga {
  max-width: 100px;
  max-height: 100px;
  padding: 20px 5px;
}

.menuList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menuOption {
  display: block;
  padding: 20px 5px;
  color: white;
}
.menuOption:hover {
  background-color: #202427;
  border-right: 5px solid #996c55;
}
.menuOption.here {
  border-right: 5px solid #996c55;
}
.menuOption a {
  text-decoration: none;
  color: inherit;
}

footer {
  margin-left: 20vw;
  display: flex;
  flex-direction: column;
  background-color: #333;
}
footer .footerLogga img {
  margin: 5px;
  max-width: 50px;
  max-height: 50px;
}
footer .footerLinks {
  background-color: #202427;
}
footer .footerLinks ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 20px 0px;
  padding: 0;
}
footer .footerLinks ul a {
  text-decoration: none;
  color: white;
  margin: 10px;
}
footer .footerLinks ul a:hover {
  color: #996c55;
}
footer .copyRight {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer .copyRight p {
  color: white;
}

@media (width > 768px) {
  .menuDiv {
    font-size: 15px;
  }
}
@media (width > 1024px) {
  body {
    display: block;
  }
  body main {
    margin-left: 0vw;
    margin-top: 10vh;
  }
  body main .startBild {
    height: 50vh;
  }
  .menuDiv {
    min-height: 10vh;
    min-width: 100vw;
    font-size: 20px;
  }
  .menuDiv .sidebar {
    position: fixed;
    top: 0;
    min-width: 100%;
    height: 15vh;
    max-height: 100px;
    flex-direction: row;
    justify-content: center;
  }
  .menuDiv .logga {
    max-width: 100px;
    max-height: 100px;
    position: fixed;
    top: -10px;
    left: 10px;
  }
  .menuDiv .menuList {
    flex-direction: row;
    justify-content: center;
  }
  .menuDiv .menuOption {
    padding: 20px 50px;
  }
  .menuDiv .menuOption:hover {
    border-right: none;
    border-bottom: 5px solid #996c55;
  }
  .menuDiv .menuOption.here {
    border-right: none;
    border-bottom: 5px solid #996c55;
  }
  footer {
    margin-left: 0vw;
    display: flex;
    flex-direction: column;
    background-color: #333;
  }
  footer .footerLogga img {
    margin: 5px;
    max-width: 50px;
    max-height: 50px;
  }
  footer .footerLinks {
    background-color: #202427;
  }
  footer .footerLinks ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 20px 0px;
    padding: 0;
  }
  footer .footerLinks ul a {
    text-decoration: none;
    color: white;
    margin: 10px;
  }
  footer .footerLinks ul a:hover {
    color: #996c55;
  }
  footer .copyRight {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  footer .copyRight p {
    color: white;
  }
}
.tjänster {
  padding: 1rem;
}

.tjänster-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #DAC0A3;
  padding: 1rem;
  align-items: center;
}
@media (width > 1024px) {
  .tjänster-flex {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
}

.tjänster-box {
  width: 100%;
  max-width: 500px;
  background-color: #B85C38;
  padding: 1rem;
}
.tjänster-box img {
  width: 100%;
  height: auto;
}
.tjänster-box .cta {
  padding-top: 10px;
}

.Bokning-del {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  text-align: center;
  overflow: hidden;
}
@media (width > 1024px) {
  .Bokning-del {
    align-items: flex-end;
    padding: 2rem;
    text-align: right;
  }
}

.bokning-text {
  color: #EED6C4;
  font-size: 1rem;
}
@media (width > 1024px) {
  .bokning-text {
    font-size: 1.2rem;
    width: 60%;
  }
}

.video-background {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  filter: brightness(60%);
}

.fix-button {
  margin-top: 1rem;
  font-size: 1rem;
  text-align: center;
}
@media (width > 1024px) {
  .fix-button {
    font-size: 1.5rem;
  }
}
.fix-button a {
  background-color: #B85C38;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  color: #EED6C4;
  text-decoration: none;
  display: inline-block;
}
.fix-button a:hover, .fix-button a:focus {
  background-color: #DAC0A3;
  color: #333;
}

.history h3 {
  font-size: 20px;
}
.history p {
  font-size: 16px;
}

.employees {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.employees .employee {
  min-width: 100px;
  max-width: 300px;
  min-height: 600px;
  background-color: #333;
  border: 2px solid #B85C38;
}
.employees .employee:hover {
  background-color: rgb(25.5, 25.5, 25.5);
  border-radius: 10px;
}
.employees .employee img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.employees .employee .employeeInfo {
  color: white;
  padding: 5px;
}
.employees .employee .employeeInfo .name {
  font-weight: bold;
  text-align: center;
}
.employees .employee .employeeInfo .role {
  font-weight: bold;
  text-align: center;
}
.employees .employee .employeeInfo .mail {
  display: block;
  text-decoration: none;
  color: #B85C38;
  text-align: center;
}

html, body {
  height: 100%;
}

header, body {
  background: #EED6C4;
}
@media (width > 768px) {
  header, body {
    background-color: #EED6C4;
  }
  header .referenser, body .referenser {
    flex-direction: row;
    align-items: space-evenly;
    gap: 0px;
  }
}
@media (width > 1024px) {
  header, body {
    background: #EED6C4;
  }
  header .referenser, body .referenser {
    flex-direction: row;
    align-items: space-evenly;
    gap: 0px;
  }
}

.logotype {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  color: #333;
}

.referenser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.ref1, .ref2, .ref3 {
  background-color: white;
  border: 2px solid #422800;
  box-shadow: #422800 2px 2px 0 0;
  margin: 10px;
  padding: 20px;
}

html, body {
  height: 100%;
}

header, body {
  background: #EED6C4;
}
@media (width > 768px) {
  header, body {
    background-color: #EED6C4;
  }
  header .information, body .information {
    flex-direction: row;
    align-items: space-evenly;
    gap: 0px;
  }
  header .logotype, body .logotype {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (width > 1024px) {
  header, body {
    background: #EED6C4;
  }
  header .information, body .information {
    flex-direction: row;
    align-items: space-evenly;
    gap: 0px;
  }
  header .logotype, body .logotype {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.logotype {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2, h3 {
  text-align: center;
  color: #333;
}

#name, #email, #tel, #reason {
  min-height: 2em;
  width: 30%;
  border: 2px solid #422800;
  margin: 20px 0px;
}

.form-control {
  margin: 0 0 0.6em 0;
  min-height: 13em;
  width: 95%;
  border: 2px solid #422800;
  box-shadow: #422800 2px 2px 0 0;
  padding: 4px;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.contact, .visit, .picture {
  text-align: center;
  color: #333;
}

.send {
  background-color: #EED6C4;
  border: 2px solid #422800;
  box-shadow: #422800 4px 4px 0 0;
  color: #333;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  min-width: 120px;
  padding: 0 25px;
}

.send:hover {
  background-color: #996c55;
}

.send:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}/*# sourceMappingURL=main.css.map */