html, body {
  height: 100%;
}

header, body {
  background: #EED6C4;
  color: #333;
}
@media (width > 768px) {
  header, body {
    background-color: #EED6C4;
  }
  header nav ul li, body nav ul li {
    display: inline-block;
    position: relative;
    background-color: #7D5A50;
    padding: 10px;
    margin: 0;
  }
  header nav ul, body nav ul {
    margin: 0;
  }
  header nav ul li a, body nav ul li a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.25rem;
  }
  header .referenser, body .referenser {
    flex-direction: row;
    align-items: space-evenly;
    gap: 0px;
  }
}
@media (width > 1024px) {
  header, body {
    background: #EED6C4;
  }
  header nav ul li, body nav ul li {
    display: inline-block;
    justify-content: flex-end;
    background-color: #7D5A50;
    padding: 10px;
    margin: 0;
  }
  header nav ul, body nav ul {
    margin: 0;
  }
  header nav ul li a, body nav ul li a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.25rem;
  }
  header .referenser, body .referenser {
    flex-direction: row;
    align-items: space-evenly;
    gap: 0px;
  }
}

h1, h2 {
  text-align: center;
  color: #333;
}

.referenser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.ref1, .ref2, .ref3 {
  background-color: white;
  border: 2px solid black;
  margin: 10px;
  padding: 20px;
}

html, body {
  height: 100%;
}

header, body {
  background: #EED6C4;
  color: #333;
}
@media (width > 768px) {
  header, body {
    background-color: #EED6C4;
  }
  header nav ul li, body nav ul li {
    display: inline-block;
    position: relative;
    background-color: #7D5A50;
    padding: 10px;
    margin: 0;
  }
  header nav ul, body nav ul {
    margin: 0;
  }
  header nav ul li a, body nav ul li a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.25rem;
  }
  header .information, body .information {
    flex-direction: row;
    align-items: space-evenly;
    gap: 0px;
  }
}
@media (width > 1024px) {
  header, body {
    background: #EED6C4;
  }
  header nav ul li, body nav ul li {
    display: inline-block;
    justify-content: flex-end;
    background-color: #7D5A50;
    padding: 10px;
    margin: 0;
  }
  header nav ul, body nav ul {
    margin: 0;
  }
  header nav ul li a, body nav ul li a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.25rem;
  }
  header .information, body .information {
    flex-direction: row;
    align-items: space-evenly;
    gap: 0px;
  }
}

h1, h2, h3 {
  text-align: center;
  color: #333;
}

.contact, .visit, .picture {
  text-align: center;
  color: #333;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.form-control {
  margin: 0 0 0.6em 0;
  min-height: 13em;
  width: 98%;
}

#name, #email, #phone, #reason {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 30%;
  max-width: 300px;
}/*# sourceMappingURL=main.css.map */