@charset "UTF-8";
.tjänster {
  padding: 1rem;
}

.tjänster-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #DAC0A3;
  padding: 1rem;
  align-items: center;
}
@media (width > 1024px) {
  .tjänster-flex {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
}

.tjänster-box {
  width: 100%;
  max-width: 500px;
  background-color: #B85C38;
  padding: 1rem;
}
.tjänster-box img {
  width: 100%;
  height: auto;
}
.tjänster-box .cta {
  padding-top: 10px;
}

.Bokning-del {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  text-align: center;
  overflow: hidden;
}
@media (width > 1024px) {
  .Bokning-del {
    align-items: flex-end;
    padding: 2rem;
    text-align: right;
  }
}

.bokning-text {
  color: #EED6C4;
  font-size: 1rem;
}
@media (width > 1024px) {
  .bokning-text {
    font-size: 1.2rem;
    width: 60%;
  }
}

.video-background {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  filter: brightness(60%);
}

.fix-button {
  margin-top: 1rem;
  font-size: 1rem;
  text-align: center;
}
@media (width > 1024px) {
  .fix-button {
    font-size: 1.5rem;
  }
}
.fix-button a {
  background-color: #B85C38;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  color: #EED6C4;
  text-decoration: none;
  display: inline-block;
}
.fix-button a:hover, .fix-button a:focus {
  background-color: #DAC0A3;
  color: #333;
}

html, body {
  height: 100%;
}

header, body {
  background: #EED6C4;
}
@media (width > 768px) {
  header, body {
    background-color: #EED6C4;
  }
  header nav ul li, body nav ul li {
    display: inline-block;
    position: relative;
    background-color: #B85C38;
    padding: 10px;
    margin: 0;
  }
  header nav ul, body nav ul {
    margin: 0;
  }
  header nav ul li a, body nav ul li a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.25rem;
  }
  header .referenser, body .referenser {
    flex-direction: row;
    align-items: space-evenly;
    gap: 0px;
  }
}
@media (width > 1024px) {
  header, body {
    background: #EED6C4;
  }
  header nav ul li, body nav ul li {
    display: inline-block;
    justify-content: flex-end;
    background-color: #B85C38;
    padding: 10px;
    margin: 0;
  }
  header nav ul, body nav ul {
    margin: 0;
  }
  header nav ul li a, body nav ul li a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.25rem;
  }
  header .referenser, body .referenser {
    flex-direction: row;
    align-items: space-evenly;
    gap: 0px;
  }
}

.logotype {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  color: #333;
}

.referenser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.ref1, .ref2, .ref3 {
  background-color: white;
  border: 2px solid black;
  margin: 10px;
  padding: 20px;
}

html, body {
  height: 100%;
}

header, body {
  background: #EED6C4;
}
@media (width > 768px) {
  header, body {
    background-color: #EED6C4;
  }
  header nav ul li, body nav ul li {
    display: inline-block;
    position: relative;
    background-color: #B85C38;
    padding: 10px;
    margin: 0;
  }
  header nav ul, body nav ul {
    margin: 0;
  }
  header nav ul li a, body nav ul li a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.25rem;
  }
  header .information, body .information {
    flex-direction: row;
    align-items: space-evenly;
    gap: 0px;
  }
  header .logotype, body .logotype {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (width > 1024px) {
  header, body {
    background: #EED6C4;
  }
  header nav ul li, body nav ul li {
    display: inline-block;
    justify-content: flex-end;
    background-color: #B85C38;
    padding: 10px;
    margin: 0;
  }
  header nav ul, body nav ul {
    margin: 0;
  }
  header nav ul li a, body nav ul li a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.25rem;
  }
  header .information, body .information {
    flex-direction: row;
    align-items: space-evenly;
    gap: 0px;
  }
  header .logotype, body .logotype {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.logotype {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2, h3 {
  text-align: center;
  color: #333;
}

#name, #email, #phone, #reason {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 20%;
  max-width: 200px;
}

.form-control {
  margin: 0 0 0.6em 0;
  min-height: 13em;
  width: 98%;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.contact, .visit, .picture {
  text-align: center;
  color: #333;
}/*# sourceMappingURL=main.css.map */